<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="true" />

    <application
        android:label="DentalSync Watch"
        tools:replace="android:label">
        <!-- El reloj depende del teléfono emparejado y no inicia sesión. -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />
    </application>
</manifest>
